$product-font: 'Sora', sans-serif;
.banner-image {
  width: 50%;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 1%;
  margin-left: 2%;
  border-radius: 10px;

  .banner-text {
    font-family: $product-font;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    h1 {
      font-weight: 700;
    }

    p {
      font-weight: 600;
      margin-top: 5px;
    }

    button {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 700;
      width: 80px;
      height: 30px;
      border-radius: 10px;
      outline: none;
      border: none;
      background: #fff;
      cursor: pointer;
    }
  }
}

@media (max-width: 1100px) {
  .banner-image {
    left: 30.5%;
  }
}

@media (max-width: 1000px) {
  .banner-image {
    left: 31%;
  }
}

